# IntelliJ project files
.idea/

# Compiled Python bytecode
*.pyc
__pycache__/

# Virtual environment
venv/
env/

# Compiled Rust artifacts
target/

# Docker
docker-compose.override.yml
docker-compose.override.yml.sample


# MongoDB
data/
dbpath
mongod.lock
mongod.pid

# Logs
*.log

# macOS specific files
.DS_Store

# Editor-specific files
.vscode/
*.sublime-*
*.swp
*.swo
*.idea

# Config files
config.yml
config.yaml
